<% include header %>
    <div class="container">
      <div class="row hidden-xs" style="height:20%;"></div>
      <div class="row row-centered">
        <div class="col-md-6 col-md-offset-3" style="background-color: #FFFFFF;">
          <img src="images/chineselink.png"></img>
          <form class="form" style="padding:60px 30px 60px 30px;" action="/" method="get">
            <div class="form-group">
              <label><%= __("This is Your Chinese URL") %></label>
            </div>
            <div class="form-group">
              <a href="<%= url %>"><%= url %></a>
            </div>
            <button type="submit" class="btn btn-default"><%= __("Generate Another") %></button>
          </form>
        </div>
      </div>
      <div class="row visible-xs-block" style="background-color:#FFFFFF; height:inherit;"></div>
    </div>
<% include footer %>


