<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta name="google-site-verification" content="SN1XR1jzfM5tUacNIwUt8Tss4uF4AAfyJU4eYPW_J3w" />
    <meta charset="utf-8">
    <title><%= __("Chinese Link") %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href='/css/bootstrap.min.css' />
	<link rel='stylesheet' href='/css/style.css' />
  </head>
  <body style="background-color: #E9E6C9;">
